absl-py
astor
autopep8
cached-property
editdistance
gast
google-pasta
grpcio
h5py
importlib-metadata
Keras-Applications
Keras-Preprocessing
Markdown
numpy
opencv-python
opt-einsum
pkg_resources
protobuf
pycodestyle
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
toml
typing-extensions
Werkzeug
wrapt
zipp
